.ABC{
    background-color: pink;
    width: 600px;
    height: 300px;
    margin: 55px;
    padding: 10px;
}
h2{
    display: inline-block;
    width: 90px;
    background-color: aquamarine;
    margin: 15px;



}
button{
    display: inline-block;
    width: 80px;
    margin: 25px;
    background-color: rgb(226, 171, 87);
}
#A{
    background-color: aqua;
    padding: 5px;
    margin: 20px;
}
.zzz{
    background-color: pink;
    color: brown;
    width: 500px;
    margin: 55px;
    padding: 10px;
}